@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	   background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(240, 28%, 19%, 0.637), hsla(244, 38%, 28%, 0.514)), url(../imagenes/portada.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(240, 28%, 19%, 0.637), hsla(244, 38%, 28%, 0.514)), url(../imagenes/portada.jpg); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.form-registro{
	width: 400px;
	background: #24303c;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
}


.form-registro h4{
	font-size: 22px;
	margin-bottom: 20px;
		
}
.controls{
	width:100%;
	background: #24303c;
	color: #c0c0c0;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px;
	font-family:'calibri';
	font-size: 18px;
	
}
.form-registro p{
	heigth: 40px;
	text-align: center;
	font-size: 18px;
	line-heigth: 40px;
}
.form-registro a{
	color: white;
	text-decoration: none;
}
.form-registro a:hover{
	color: white;
	text-decoration: underline;
}
.form-registro .botones{
	width: 100%;
	background: #1f53c5;
	border: none;
	padding: 12px;
	color: white;
	margin: 10px 0;
	font-size: 16px;
}

.form-login{
	width: 400px;
	background: #24303c;
	padding: 30px;
	margin: auto;
	margin-top: 200px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
}
.form-login h4{
	font-size: 22px;
	margin-bottom: 20px;
		
}
.form-login p{
	heigth: 40px;
	text-align: center;
	font-size: 18px;
	line-heigth: 40px;
}
.form-login a{
	color: white;
	text-decoration: none;
}
.form-login a:hover{
	color: white;
	text-decoration: underline;
}
.form-login .botones{
	width: 100%;
	background: #1f53c5;
	border: none;
	padding: 12px;
	color: white;
	margin: 10px 0;
	font-size: 16px;
}
